In [1]:
import pandas as pd
import numpy as np
import re    #정규 표현식
import matplotlib.pyplot as plt

# 구버전에서도 선명하게 표시되도록
%matplotlib inline 
%config InlineBackend.figure_format = 'retina'

## 댓글 크롤링

In [2]:
import requests
# 작은 웹브라우저로 웹사이트 내용 가져옴, url 접속해 html 페이지 저장

from bs4 import BeautifulSoup as bs
#BeautifulSoup을 통해 읽어온 웹페이지 파싱

from tqdm import trange
#진행률 표시

### 사이트 내 크롤링 가능 여부 및 범위 확인
~/robots.txt
e.g. https://www.inflearn.com/robots.txt
"""

### 크롤링 할 사이트
base_url = "https://www.inflearn.com/pages/newyear-event-20200102"
response = requests.get(base_url) #url 내용 받아옴
response

### <Response [200]> : 정상적으로 받아왔다는 코드

## 정상 코드 
soup = bs(response.text, 'html.parser')
#response의 text만 가져와서 html로 파싱

content = soup.select("#main > section > div > div > div.chitchats > div.chitchat-list > div")
content[-1]

In [3]:
# html 파일 저장 후 실시(로그인해야지만 댓글 보임)
import codecs
file = codecs.open("/Users/jungheekang/Desktop/inflearn_event.html")

In [4]:
print(file)

<_io.TextIOWrapper name='/Users/jungheekang/Desktop/inflearn_event.html' mode='r' encoding='UTF-8'>

In [5]:
soup = bs(file)

In [6]:
content = soup.select("#main > section > div > div > div.chitchats > div.chitchat-list > div")
content[-1]

<div class="chitchat-item">
<figure class="image is-48x48">
<img alt="인프런" class="user_thumb is-rounded" src="https://cdn.inflearn.com/wp-content/uploads/avatars/17/b415d9fa24d186c4adf22ca9a49116b5-bpfull.png"/>
</figure>
<div class="content">
<div class="author">
<span class="author_name">인프런</span>
<time class="created_at" datetime="Sun Dec 29 2019 17:59:00 GMT+0900 (GMT+09:00)">⋅ 8개월 전</time>
<a class="update-chitchat edit-chitchat is-hidden" data-id="18594" type="button">저장</a>
<a class="hidden-editor edit-chitchat is-hidden" type="button">취소</a>
<a class="edit-chitchat no_cmt_reply" type="button">답글달기</a>
</div>
<div class="body edit-chitchat">인프런 0호 팀원이에요!
그동안 서비스 개발 때문에 js 를 많이 했었는데 앞으론 통계나 분석을 많이 하고 싶어서 파이썬을 공부하고 싶어요! 올해 파이썬 마스터가 되는걸로..
#관심강의: 남박사의 파이썬 활용</div>
<textarea class="textarea edit-chitchat is-hidden"></textarea>
<div class="summary_comments">
</div>
<div class="chitchats_and_editor is-hidden">
<div class="chitchat-comment-list">
</div>
<div class="cmt-editor">
<div class="field">
<textarea class="textarea" placeholder="내용을 입력해 주세요."></textarea>
</div>
<button class="insert-chitchat-cmt button" data-post_id="18594" type="button">등록</button>
</div>
</div>
</div>
</div>

In [7]:
chitchat = content[-1].select("div.body.edit-chitchat")[0].get_text(strip=True)
chitchat

# [0]을 안붙이면 리스트 형태로 되기 때문에 [0]을 붙여 리스트 내 내용만 가져옴
# get_text(strip=True) : 앞 뒤 공백 제거

'인프런 0호 팀원이에요!\n그동안 서비스 개발 때문에 js 를 많이 했었는데 앞으론 통계나 분석을 많이 하고 싶어서 파이썬을 공부하고 싶어요! 올해 파이썬 마스터가 되는걸로..\n#관심강의: 남박사의 파이썬 활용'

In [8]:
for i in range(5):
    print("-"*20)
    chitchat = content[i].select("div.body.edit-chitchat")[0].get_text(strip=True)
    print(chitchat)

--------------------
2020년  목표: 프알못에서 프로젝트 마스터 되기
관심 있는 강의 : 스프링 , React
--------------------
2020년 목표: 스프링 열심히 공부하서 직장에서 사랑받고 싶어요!!
관심 있는 강의 : 스프링 웹 MVC
--------------------
2020년 목표: C++ 열심히 공부해서, 학교에서 꼭 A 맞기..!!
관심있는 강의: 따배씨 C++
--------------------
2020년 목표 : 리액트 공부하기
--------------------
40대 프로그래밍 시작! : 우리를 위한 프로그래밍 : 파이썬 중급

In [9]:
len(content)

2448

In [10]:
events = []

for i in trange(len(content)):
    chitchat = content[i].select("div.body.edit-chitchat")[0].get_text(strip=True)
    events.append(chitchat)

100%|██████████| 2448/2448 [00:00<00:00, 4231.65it/s]

In [11]:
events[:5]

['2020년  목표: 프알못에서 프로젝트 마스터 되기 \n관심 있는 강의 : 스프링 , React',
 '2020년 목표: 스프링 열심히 공부하서 직장에서 사랑받고 싶어요!!\n관심 있는 강의 : 스프링 웹 MVC',
 '2020년 목표: C++ 열심히 공부해서, 학교에서 꼭 A 맞기..!! \n관심있는 강의: 따배씨 C++',
 '2020년 목표 : 리액트 공부하기',
 '40대 프로그래밍 시작! : 우리를 위한 프로그래밍 : 파이썬 중급']

In [12]:
df = pd.DataFrame({"text" : events})
df.shape

(2448, 1)

In [13]:
df.to_csv("inflearn-event.csv", index=False)

In [14]:
pd.read_csv("inflearn-event.csv").head()

                                                text
0  2020년  목표: 프알못에서 프로젝트 마스터 되기 \n관심 있는 강의 : 스프링 ...
1  2020년 목표: 스프링 열심히 공부하서 직장에서 사랑받고 싶어요!!\n관심 있는 ...
2  2020년 목표: C++ 열심히 공부해서, 학교에서 꼭 A 맞기..!! \n관심있는...
3                                2020년 목표 : 리액트 공부하기
4              40대 프로그래밍 시작! : 우리를 위한 프로그래밍 : 파이썬 중급

## 시각화를 위한 한글폰트 설정

In [15]:
# 폰트 설정
plt.rc("font", family='AppleGothic')
plt.rc('axes', unicode_minus=False)

In [16]:
df.tail()

                                                   text
2443  작년 한해도 일이 바쁘다, 야근해서 힘들다는 핑계로 김영한님의 JPA 강의를 또 스...
2444  저는 졸업을 1년 남기고 있는 컴퓨터공학과 학생입니다. 졸업 프로젝트로 웹/앱 개발...
2445  에프터 이펙트를 써본 적은 있는데, 매번 기초만 배우다 말았어요. 이걸 할 줄 안다...
2446  저번에 인프런에서 페이스북 마케팅 강의를 듣고 많은 도움을 받았습니다. 마케팅 업무...
2447  인프런 0호 팀원이에요!\n그동안 서비스 개발 때문에 js 를 많이 했었는데 앞으론...

## 데이터 전처리
### 중복 입력 값 제거

In [17]:
print(df.shape)
df = df.drop_duplicates(["text"], keep="last")  
#text가 완전히 똑같은 것들 제거하고 최근 걸 남김
print(df.shape)

(2448, 1)
(2410, 1)

### 원본은 따로 보존

In [18]:
# 전처리 전에 원본 보존을 위해 복사해 둠
df["origin_text"] = df["text"]
df.head()

,text,origin_text
0,2020년 목표: 프알못에서 프로젝트 마스터 되기 \n관심 있는 강의 : 스프링 ...,2020년 목표: 프알못에서 프로젝트 마스터 되기 \n관심 있는 강의 : 스프링 ...
1,2020년 목표: 스프링 열심히 공부하서 직장에서 사랑받고 싶어요!!\n관심 있는 ...,2020년 목표: 스프링 열심히 공부하서 직장에서 사랑받고 싶어요!!\n관심 있는 ...
2,"2020년 목표: C++ 열심히 공부해서, 학교에서 꼭 A 맞기..!! \n관심있는...","2020년 목표: C++ 열심히 공부해서, 학교에서 꼭 A 맞기..!! \n관심있는..."
4,40대 프로그래밍 시작! : 우리를 위한 프로그래밍 : 파이썬 중급,40대 프로그래밍 시작! : 우리를 위한 프로그래밍 : 파이썬 중급
5,2020년 목표 : 돌머리 비전공자가 멋진 전공자 되기!,2020년 목표 : 돌머리 비전공자가 멋진 전공자 되기!

### 대소문자 통일

In [19]:
# 파이썬은 대소문자를 구분하기 때문에 데이터 필터링을 위해 대문자를 모두 소문자로 변경
df['text'] = df['text'].str.lower()

In [20]:
# 같은 의미의 단어를 하나의 통일 // 예, python => 파이썬

df["text"] = df["text"].str.replace(
    "python", "파이썬").str.replace(
    "pandas", "판다스").str.replace(
    "javascript", "자바스크립트").str.replace(
    "java", "자바").str.replace(
    "react", "리액트")

### 텍스트로 관심 강의 분리

In [21]:
df["course"] = df["text"].apply(lambda x: x.split("관심강의")[-1])
df["course"] = df["course"].apply(lambda x: x.split("관심 강의")[-1])
df["course"] = df["course"].apply(lambda x: x.split("관심 강좌")[-1])
df["course"] = df["course"].str.replace(":", "")
df["course"].head()

0    2020년  목표 프알못에서 프로젝트 마스터 되기 \n관심 있는 강의  스프링 , 리액트
1    2020년 목표 스프링 열심히 공부하서 직장에서 사랑받고 싶어요!!\n관심 있는 강...
2    2020년 목표 c++ 열심히 공부해서, 학교에서 꼭 a 맞기..!! \n관심있는 ...
4                  40대 프로그래밍 시작!  우리를 위한 프로그래밍  파이썬 중급
5                       2020년 목표  돌머리 비전공자가 멋진 전공자 되기!
Name: course, dtype: object

In [22]:
# 두 개 이상의 컬럼을 가져올 때는 컬럼명을 리스트로 묶어야함
# 관심 강의를 기재했다면 관심 강의가 course 컬럼에 들어가고, 없다면 댓글 전체가 course에 들어감
df[["text", "course"]].tail()

,text,course
2443,"작년 한해도 일이 바쁘다, 야근해서 힘들다는 핑계로 김영한님의 jpa 강의를 또 스...",스프링 데이터 jpa
2444,저는 졸업을 1년 남기고 있는 컴퓨터공학과 학생입니다. 졸업 프로젝트로 웹/앱 개발...,스프링 부트 개념과 활용
2445,"에프터 이펙트를 써본 적은 있는데, 매번 기초만 배우다 말았어요. 이걸 할 줄 안다...",에펙 초보자도 만들 수 있는 유튜브 인트로 에프터이펙트 강좌
2446,저번에 인프런에서 페이스북 마케팅 강의를 듣고 많은 도움을 받았습니다. 마케팅 업무...,파이썬 입문 및 웹 크롤링을 활용한 다양한 자동화 어플리케이션 제작하기
2447,인프런 0호 팀원이에요!\n그동안 서비스 개발 때문에 js 를 많이 했었는데 앞으론...,남박사의 파이썬 활용

## 띄어쓰기 제거한 텍스트에서 키워드 추출
 - TIOBE 프로그래밍 언어 순위 참고

In [23]:
search_keyword = ['머신러닝', '딥러닝', '파이썬', '판다스', '공공데이터',
                 'django', '크롤링', '시각화', '데이터분석',
                 '웹개발', '엑셀', 'c', '자바', '자바스크립트',
                 'node', 'vue', '리액트']

for keyword in search_keyword:
    df[keyword] = df['course'].str.contains(keyword) #키워드가 들어가면 트루

In [43]:
df.tail()

,text,origin_text,course,머신러닝,딥러닝,파이썬,판다스,공공데이터,django,크롤링,시각화,데이터분석,웹개발,엑셀,c,자바,자바스크립트,node,vue,리액트
2443,"작년 한해도 일이 바쁘다, 야근해서 힘들다는 핑계로 김영한님의 jpa 강의를 또 스...","작년 한해도 일이 바쁘다, 야근해서 힘들다는 핑계로 김영한님의 JPA 강의를 또 스...",스프링 데이터 jpa,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2444,저는 졸업을 1년 남기고 있는 컴퓨터공학과 학생입니다. 졸업 프로젝트로 웹/앱 개발...,저는 졸업을 1년 남기고 있는 컴퓨터공학과 학생입니다. 졸업 프로젝트로 웹/앱 개발...,스프링 부트 개념과 활용,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2445,"에프터 이펙트를 써본 적은 있는데, 매번 기초만 배우다 말았어요. 이걸 할 줄 안다...","에프터 이펙트를 써본 적은 있는데, 매번 기초만 배우다 말았어요. 이걸 할 줄 안다...",에펙 초보자도 만들 수 있는 유튜브 인트로 에프터이펙트 강좌,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2446,저번에 인프런에서 페이스북 마케팅 강의를 듣고 많은 도움을 받았습니다. 마케팅 업무...,저번에 인프런에서 페이스북 마케팅 강의를 듣고 많은 도움을 받았습니다. 마케팅 업무...,파이썬 입문 및 웹 크롤링을 활용한 다양한 자동화 어플리케이션 제작하기,False,False,True,False,False,False,True,False,False,False,False,False,False,False,False,False,False
2447,인프런 0호 팀원이에요!\n그동안 서비스 개발 때문에 js 를 많이 했었는데 앞으론...,인프런 0호 팀원이에요!\n그동안 서비스 개발 때문에 js 를 많이 했었는데 앞으론...,남박사의 파이썬 활용,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [25]:
df_python = df[df["text"].str.contains("파이썬|공공데이터|판다스")].copy()
df_python.shape

(430, 20)

In [26]:
df[search_keyword]

,머신러닝,딥러닝,파이썬,판다스,공공데이터,django,크롤링,시각화,데이터분석,웹개발,엑셀,c,자바,자바스크립트,node,vue,리액트
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
1,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False
4,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2443,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2444,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2445,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2446,False,False,True,False,False,False,True,False,False,False,False,False,False,False,False,False,False
2447,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [27]:
df[search_keyword].sum().sort_values(ascending=False)

c         410
파이썬       406
자바        341
자바스크립트    140
리액트       138
머신러닝      133
vue       132
node      117
크롤링        56
딥러닝        53
django     31
시각화        30
웹개발        27
데이터분석      24
엑셀         18
공공데이터      12
판다스         6
dtype: int64

In [28]:
# 관심강좌로 공공데이터를 기재한 사람들의 응답을 보기
text = df.loc[(df["공공데이터"] == True), "text"]
for t in text:
    print("-"*20)
    print(t)

--------------------
#관심강의: 프로그래밍 시작하기 : 파이썬 입문, 공공데이터로 파이썬 데이터 분석 시작하기
파이썬의 고수가 되고싶어요
--------------------
자바기반 웹 개발자입니다. 데이터 분석에 많이 쓰이는 파이썬이 궁금합니다.
#관심강의: 프로그래밍 시작하기 : 파이썬 입문, 공공데이터로 파이썬 데이터 분석 시작하기
--------------------
올해 안에 원하는 공부 다 끝내보려고요. 내년이면 수능이라..

#관심강의: 공공데이터로 파이썬 데이터 분석 시작하기
--------------------
it개발자입니다. 개발을 오래 안하고 관리만 했더니 다시 개발이 너무 하고싶습니다. 올해는 인프런을 통해서 개발쪽 스킬셋을 업그레이드 하고 싶습니다!
#관심강의: 공공데이터로 파이썬 데이터 분석 시작하기
--------------------
파이썬 데이터분석 마스터
#관심강의:공공데이터로 파이썬 데이터 분석 시작하기
--------------------
올해 졸업하는 컴퓨터공학과 학생입니다!
백엔드 혹은 데이터 엔지니어 쪽으로 취업하고 싶습니다!
#관심강의: 공공데이터로 파이썬 데이터 분석 시작하기
--------------------
텍스트 마이닝만 수강한 뒤 현재 맡은 마케팅 업무 능률이 엄청나게 올라가는 것을 확인했으며 승진과 고가에 엄청나게 득을 보았습니다 감사합니다! 앞으로도 인프런 애용하겠습니다.
추가적으로 해 박조은 강사님의 [공공데이터로 파이썬 데이터 분석 시작하기] 강의를 듣고 상권분석과 공공데이터 활용 역량을 올릴 예정입니다. 화이팅!!!
#관심강의 : 공공데이터로 파이썬 데이터 분석 시작하기
--------------------
데이터분석 2년차가 되는데 작년에 파이썬 강의를 담아놓고 그대로 1년간 방치... 올해는 꼭 완강하고 실습해서 개발자에게 의존하지 않고 혼자 크롤링&분석 해내고 싶어요!
#관심강의: 공공데이터로 파이썬 데이터분석 시작하기, database 1&2 - mysql
--------------------
2020년에는 데이터 분석쪽으로 이직하고 싶어요! 인프런 강의 듣고 이직에 성공하고 싶습니다!!
#관심강의: 공공데이터로 파이썬 데이터 분석 시작하기
--------------------
경영학과 졸업생입니다. 새해엔 엑셀! 파이썬! 취직! 해내겠습니다. 좋은 강의, 커리큘럼이 있는 인프런 너무 감사합니다 ~^^
#관심강의: 공공데이터로 분석하기
--------------------
인프런으로 파이썬 기초문법부터 입문했어요! 실무 데이터분석에 활용할 수 있는 수준으로 실력을 올리고 싶습니다:)
#관심강의: 공공데이터로 파이썬 데이터 분석 시작하기
--------------------
나만의 프로젝트 하나 완성할 수 있을 정도의 지식 쌓기!
#관심강의:공공데이터로 파이썬 데이터 분석 시작하기

In [29]:
df.loc[df['판다스'] == True, "text"]

542     2020년에는 데이터분석 관련한 실력을 쌓고싶습니다!\n#관심강의 : 파이썬, 판다...
691     취미로 안드로이드 개발하는 사람입니다. 자바로 작성하다 보니, kotlin이 안드로...
758          판다스 라입러리에 관심이 많아서 배워보려 합니다 #관심강의 : 박조은 - 판다스
1237      2020년!! 올 해는 빅데이터 분석 전문가 되기!!\n#관심강의 : 파이썬, 판다스
2154    2020년 목표  파이썬 을  활용해  데이터 분석 작업을 진행하고 싶습니다.  관...
2364    저는 백세시대에 조금 더 오랫동안 it일을 하기위해서 it전략기획에서 데이터분석가로...
Name: text, dtype: object

## 빈도수 계산을 위한 텍스트 데이터 벡터화
 - BOW 단어 가방에 단어를 토큰화 해서 담아줌

In [30]:
# 토큰화 예시
"파이썬 데이터 분석".split()

# ngram
"""파이썬만 할껀지 아니면 파이썬 데이터까지 묶을 것인지"""

['파이썬', '데이터', '분석']

In [33]:
from sklearn.feature_extraction.text import CountVectorizer
# 텍스트를 띄어쓰기 기준 토큰으로 분류

vectorizer = CountVectorizer(analyzer = 'word', # 캐릭터 단위로 벡터화 가능
                            tokenizer = None,
                            preprocessor = None, #전처리 도구
                            stop_words = None, # 불용어(문장에서 자주 등장하나 큰 의미가 없는것) nltk등의 도구 사용 가능
                            min_df = 2, # 토큰이 나타날 최소 문서 갯수, 토큰이 n개이상 나타나야
                            ngram_range=(3, 6), #BOW의 단어 갯수의 범위 지정
                            max_features = 3000 # 만들 피처의수, 단어의 수
                            )

vectorizer

CountVectorizer(max_features=3000, min_df=2, ngram_range=(3, 6))

In [37]:
vectorizer = CountVectorizer(analyzer = 'word', # 캐릭터 단위로 벡터화 할 수도 있습니다.
                             tokenizer = None, # 토크나이저를 따로 지정해 줄 수도 있습니다.
                             preprocessor = None, # 전처리 도구
                             stop_words = None, # 불용어 nltk등의 도구를 사용할 수도 있습니다.
                             min_df = 2, # 토큰이 나타날 최소 문서 개수로 오타나 자주 나오지 않는 특수한 전문용어 제거에 좋습니다. 
                             ngram_range=(3, 6), # BOW의 단위 갯수의 범위를 지정합니다.
                             max_features = 3000 # 만들 피처의 수, 단어의 수
                            )
vectorizer

CountVectorizer(max_features=3000, min_df=2, ngram_range=(3, 6))

In [38]:
feature_vector = vectorizer.  (df["course"])
feature_vector.shape

(2410, 2335)

In [40]:
print(feature_vector)

  (0, 683)	1
  (0, 1766)	1
  (0, 686)	1
  (1, 683)	1
  (1, 1766)	1
  (1, 686)	1
  (1, 527)	1
  (2, 21)	1
  (2, 1082)	1
  (2, 22)	1
  (3, 1574)	1
  (3, 1644)	1
  (3, 2197)	1
  (3, 1575)	1
  (3, 1645)	1
  (3, 1576)	1
  (6, 19)	1
  (6, 1081)	1
  (6, 20)	1
  (7, 998)	1
  (7, 324)	1
  (7, 999)	1
  (12, 19)	1
  (12, 1081)	1
  (12, 20)	1
  :	:
  (2401, 877)	1
  (2401, 1432)	1
  (2404, 1311)	1
  (2405, 1311)	1
  (2406, 1321)	1
  (2406, 1204)	1
  (2406, 1322)	1
  (2408, 2098)	1
  (2408, 1753)	1
  (2408, 1999)	1
  (2408, 2324)	1
  (2408, 827)	1
  (2408, 1775)	1
  (2408, 2099)	1
  (2408, 1754)	1
  (2408, 2000)	1
  (2408, 2325)	1
  (2408, 828)	1
  (2408, 2100)	1
  (2408, 1755)	1
  (2408, 2001)	1
  (2408, 2326)	1
  (2408, 2101)	1
  (2408, 1756)	1
  (2408, 2002)	1

In [50]:
vocab = vectorizer.get_feature_names()
print(len(vocab))
vocab[:10]

2335

['12개 만들면서 배우는',
 '12개 만들면서 배우는 ios',
 '12개 만들면서 배우는 ios 아이폰',
 '12개 만들면서 배우는 ios 아이폰 개발',
 '12개를 만들며 배우는',
 '12개를 만들며 배우는 swift4',
 '12개를 만들며 배우는 swift4 ios11',
 '12개를 만들며 배우는 swift4 ios11 아이폰',
 '2018 do it',
 '2018 do it 안드로이드']

In [51]:
vocab[100:110]

['django 공략하기 입문',
 'django 연동 프로그래밍',
 'django 인스타그램 클론',
 'django 인스타그램 클론 강의',
 'do it 안드로이드',
 'do it 안드로이드 프로그래밍',
 'do it 자바',
 'do it 자바 프로그래밍',
 'do it 자바 프로그래밍 입문',
 'docker hands on']

In [52]:
 # 각 리뷰마다 등장하는 단어에 빈도수가 표현됨
 # 0은 등장하지 않음을 의미

pd.DataFrame(feature_vector[:10].toarray(), columns=vocab).head()

,12개 만들면서 배우는,12개 만들면서 배우는 ios,12개 만들면서 배우는 ios 아이폰,12개 만들면서 배우는 ios 아이폰 개발,12개를 만들며 배우는,12개를 만들며 배우는 swift4,12개를 만들며 배우는 swift4 ios11,12개를 만들며 배우는 swift4 ios11 아이폰,2018 do it,2018 do it 안드로이드,...,활용한 다양한 자동화 어플리케이션,활용한 다양한 자동화 어플리케이션 제작하기,활용한 데이터분석과 it보안,활용한 리액트 native,활용한 리액트 native 개발,활용한 메신져 만들기,활용한 메신져 만들기 android,활용한 파이썬 프로그래밍,활용한 파이썬 프로그래밍 완벽,활용한 파이썬 프로그래밍 완벽 이해
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [53]:
# 위에서 구한 단어벡터를 더하면 단어가 전체에서 등장하는 횟수 확인 가능
# 벡터화 된 피처 확인
# Bag of words에 몇 개의 단어가 있는지 확인

dist = np.sum(feature_vector, axis=0)

df_freq = pd.DataFrame(dist, columns=vocab)
df_freq

,12개 만들면서 배우는,12개 만들면서 배우는 ios,12개 만들면서 배우는 ios 아이폰,12개 만들면서 배우는 ios 아이폰 개발,12개를 만들며 배우는,12개를 만들며 배우는 swift4,12개를 만들며 배우는 swift4 ios11,12개를 만들며 배우는 swift4 ios11 아이폰,2018 do it,2018 do it 안드로이드,...,활용한 다양한 자동화 어플리케이션,활용한 다양한 자동화 어플리케이션 제작하기,활용한 데이터분석과 it보안,활용한 리액트 native,활용한 리액트 native 개발,활용한 메신져 만들기,활용한 메신져 만들기 android,활용한 파이썬 프로그래밍,활용한 파이썬 프로그래밍 완벽,활용한 파이썬 프로그래밍 완벽 이해
0,2,2,2,2,2,2,2,2,2,2,...,13,12,2,8,8,2,2,2,2,2

In [56]:
# 행과 열의 축을 t로 바꿔주고 빈도수로 정렬
df_freq.T.sort_values(by=0, ascending=False).head(100)

                           0
홍정모의 따라하며 배우는            100
스프링 데이터 jpa               60
nodebird sns 만들기          60
머신러닝 완벽 가이드               49
리액트로 nodebird sns 만들기     49
...                      ...
누구든지 하는 리액트               20
위한 리액트 핵심 강좌              20
누구든지 하는 리액트 초심자를 위한       20
누구든지 하는 리액트 초심자를 위한 리액트   20
리액트 초심자를 위한 리액트           20

[100 rows x 1 columns]

위 방식처럼 빈도수를 계산할 경우 중요하지 않은 단어들도 카운트가 됨
=> TF-IDF로 가중치 둠

## TF-IDF로 가중치를 주어 벡터화

### TfidfTransformer()
- norm='l2' 각 문서의 피처 벡터를 어떻게 벡터 정규화 할지 정합니다.
 - L2 : 벡터의 각 원소의 제곱의 합이 1이 되도록 만드는 것이고 기본 값(유클리디안거리)
 - L1 : 벡터의 각 원소의 절댓값의 합이 1이 되도록 크기를 조절(맨하탄거리)
- smooth_idf=False
  - 피처를 만들 때 0으로 나오는 항목에 대해 작은 값을 더해서(스무딩을 해서) 피처를 만들지 아니면 그냥 생성할지를 결정
- sublinear_tf=False
- use_idf=True
  - TF-IDF를 사용해 피처를 만들 것인지 아니면 단어 빈도 자체를 사용할 것인지 여부

In [57]:
# TfidfTransformer 를 불러와서 가중치를 주어 벡터화 합니다.
# transformer 라는 변수로 저장하고 재사용합니다.
from sklearn.feature_extraction.text import TfidfTransformer
transformer = TfidfTransformer(smooth_idf=False)
transformer

# 기본적으로 L2방식 적용됨

TfidfTransformer(smooth_idf=False)